<!--
    templateType: page
    isAvailableForNewContent: false
-->
{% set oembed_type_error = "Only oEmbeds with `html` or `url` (for type `photo`) are supported." %}
{% set no_selected_media_error = "The embed_field parameter must have a Media Bridge object selected to display." %}
{% set default_wrapper_style = "position: relative; " %}
<!--
Renders a wrapper for a player based on embed field oEmbed value, meant for use in tandem with `media-bridge-embed-js`
The oembed html is not eagerly rendered by default, instead we show a placeholder image which `media-bridge-embed-js` will transform into an iframe

Options (2nd object param):
- eager - if true, render oembed html directly. recommended only if not using simple iframe players
- reveal_on - load (default), hover, click. only works when `eager` is not true
- poster_url - customize placeholder image (defaults to oembed thumbnail)
- play_button_color - shows SVG play button overlay of specific color
-->
{% macro mb_embed(embed_field, options) %}
  {% set field_value = embed_field.source_type == "media_bridge" ? embed_field.media_bridge_object : embed_field %}
  {% set oembed_response = field_value.oembed_response %}
  {% if oembed_response.type == "photo" && oembed_response.url %}
    <img src="{{ oembed_response.url }}" />
  {% else if oembed_response.html %}
    {% set poster_url = options.poster_url || oembed_response.thumbnail_url %}
    {# require_js('https://static.hsappstatic.net/media-bridge-embed-js/ex/v1.js', { position: 'footer', async: true, defer: true }) #}
    {{ require_js('https://local.hsappstatic.net/media-bridge-embed-js/static/bundles/project.js', { position: 'footer', async: true, defer: true }) }}

    <div class="hs-mb-embed-wrapper"
       data-oembed-url="{{ field_value.oembed_url }}"
       data-size-type="{{ field_value.size_type }}"
       data-reveal-on="{{ options.reveal_on }}"
       style="position: relative; {% if field_value.size_type == "auto_custom_max" %} max-height: {{ field_value.max_height }}px; max-width: {{ field_value.max_width }}px; {% endif %} {% if field_value.size_type == "auto" %} height: {{ field_value.height }}px; width: {{ field_value.width }}px; {% endif %}">
      <div class="hs-mb-iframe-wrapper">
        {% if options.eager %}
          {{ oembed_response.html|safe }}
        {% else %}
          <img class="hs-mb-embed-placeholder" src="{{ poster_url }}" style="display: block; margin: 0 auto; max-width: 100%;" />
          {% if options.play_button_color %}
            {{ mb_play_button(options.play_button_color) }}
          {% endif %}
        {% endif %}
      </div>

      {# conveys oembeds on page to media-bridge-embed-js #}
      <script type="text/javascript">
        window._hsMediaBridge = window._hsMediaBridge || { embedsByUrl: {} };
        window._hsMediaBridge.embedsByUrl["{{ field_value.oembed_url }}"] = JSON.parse("{{ oembed_response|tojson|escapejson }}");
      </script>
    </div>
  {% else %}
    <p>{{ oembed_type_error }}</p>
  {% endif %}
{% endmacro %}

<!--
Renders an email appropriate player based on embed field oEmbed value, without JS/CSS dependencies
It will show a poster image based on the oembed thumbnail, linked to the oembed_url.

Options (2nd object param):
- poster_url - customize placeholder image (defaults to oembed thumbnail)
- link_url - customize where placeholder links (defaults to oembed url)
- play_button_color - shows SVG play button overlay of specific color
-->

{% macro mb_email_embed(embed_field, options) %}
  {% set field_value = embed_field.source_type == "media_bridge" ? embed_field.media_bridge_object : embed_field %}
  {% set oembed_response = field_value.oembed_response %}
  {% set link_url = options.link_url || field_value.oembed_url %}
  {% set poster_url = options.poster_url || oembed_response.thumbnail_url || oembed_response.url %}
  {% if oembed_response.type == "photo" && oembed_response.url %}
    <img src="{{ oembed_response.url }}" />
  {% else if oembed_response.html %}
    <div class="hs-mb-embed-wrapper"
         style="position: relative; {% if field_value.size_type == 'exact' %}width: {{ field_value.width }}px; height: {{ field_value.height }}px;{% endif %}">
      <a href="{{ link_url }}" target="_blank">
        <img class="hs-mb-embed-placeholder" src="{{ poster_url }}" style="max-width: 100%; max-height: 100%; margin: 0 auto"/>
        {% if options.play_button_color %}
          {{ mb_play_button(options.play_button_color) }}
        {% endif %}
      </a>
    </div>
  {% else %}
    <p>{{ oembed_type_error }}</p>
  {% endif %}
{% endmacro %}

{% macro mb_play_button(color) %}
  {% set color = color || 'white' %}
  <div class="play-button hs-mb-embed-placeholder"
       style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; align-items: center; cursor: pointer; display: flex; justify-content: center">
    <svg viewBox="0 0 80 80"
         style="display: block; height: auto; width: 20%; max-width: 120px; max-height: 120px; filter: drop-shadow(0 0 1rem #666)">
      <circle cx="41" cy="41" r="37" stroke="{{ color }}" stroke-width="5" fill="none"></circle>
      <polygon fill="{{ color }}" stroke="{{ color }}" stroke-width="5" points="32,25 32,58 60,42"></polygon>
    </svg>
  </div>
{% endmacro %}
